@media only screen and (max-width: 1200px)  {
    #featuredText {
        font-size: 15px;
    }

    .header {
        font-size: 23px !important;
    }
    
    .date {
        font-size: 16px !important;
    }
    
    .description {
        font-size: 19px !important;
    }
}

@media only screen and (max-width: 920px)  {
    #post {
        flex-direction: column;
        max-height: fit-content !important;
    }

    #featuredText {
        padding: 0px !important;
        margin-top: 10px;
        min-width: fit-content !important;
    }
}