@media only screen and (max-width: 920px)  {
    .post {
        max-width: fit-content !important;
        width: 80% !important;
        margin: 0 auto;
        margin-top: 50px;
    }

    .post:first-child {
        margin-top: 0px;
    }

    .text {
        margin-top: 10px !important;
    }

    .header {
        font-size: 23px !important;
    }
    
    .date {
        font-size: 16px !important;
    }
    
    .description {
        font-size: 19px !important;
    }

    .tag {
        font-size: 15px !important;
    }
}